<!DOCTYPE html>

<html>
<head>    
    <title>review</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    

</head>
    <div class="search-wrapper">
        <div class="input-holder">            
            <form method="GET" action="/calculate">
                <input type="text" class="search-input"  placeholder="Type to search" name="char1" />                       
            
                <button class="search-icon" id="btn1" type="submit"><span></span></button>            
            </form> 
            
        </div>     
        <br>   
        <br>   
        <br>   
        <div class="container"> 
            <center>
                <div>
                    {{result}}<br>{{result2}}
                </div>
            </center>
         </div>              
    </div>     
    <form action = "http://localhost:8080/uploader" method = "POST"
          enctype = "multipart/form-data">
      <input type = "file" name = "file" />
      <input type = "submit"/>
    </form>
    <ol>
        <!-- For loop logic of jinja template -->
        {%for i in range(0, len)%}
          
            <li>{{result_review_value[i]}}</li>
        {%endfor%}
          
        </ol>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="{{url_for('static',filename='script.js')}}"></script>
</html>